

   h1 {
    color: cyan;
    background-color: black;
  }
  

  h2 {
    color:white;
    background-color: purple;
    text-align: center;
  }


  h3 {
    color:purple;
    background-color: lightblue;
    text-align: right;
    text-decoration: underline;
  }
  
  .titlemy{color: white;}